.checkout-side-menu {
    min-width: 272px;
    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    top: 101px;
    padding: 10px;
    background: #D9D9D9;
    border-radius: 15px;
}

.hidden_menu {
    display: none;
}

.cart_container {
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

.total_cartvalue {
    display: flex;
    flex-direction: column;
}