.orders_container {
    max-width: 650px;
    gap: 30px 60px;
    display: flex;
    flex-grow: 1;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap
}

.orders_Title {
    color: #834AFD;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    padding: 15px;
    gap: 1px;
}

.orders_Title:hover {
    text-decoration: #834AFD wavy underline;
    font-size: 27px;
    border-radius: 15px;
    border: 1.5px solid #834AFD;
    ;
}