.forinput_container_01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 680px;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    padding-top: 60px;
}

.register_form {
    display: flex;
}

.registerbutton_container {
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 5px 5px;
}