.loader_01 {
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #834AFD;
    width: 200px;
    height: 200px;
    animation: spinner 8s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}