.productdetail_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    min-height: fit-content;
    max-width: 272px;
    background: #D9D9D9;
    margin-top: 38px;
    border-radius: 15px;
    padding: 8px;
    max-height: 80vh;

}

.detailwicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.imageplace {
    background: purple;
    height: 200px;
    width: 100%;
    border-radius: 15px;
    object-fit: fill;

}

.detailstext {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}



.hidden {
    display: none;
}