.navbar_01 {
    justify-content: space-between;
    display: flex;
    background: #834AFD;
    height: 7vh;
    width: 100%;
    align-items: center;
    /* z-index: 12; */
    position: fixed;
    top: 0;
}

.navbar_02 {
    padding: 10px;
    gap: 10px;
    display: flex;
}

.navbar_03 {
    padding: 10px;
    gap: 10px;
    display: flex;
}

.icon {
    width: 45px;
    height: 45px;
}

.icon_navbar_02 {
    display: flex;
}


.icon:hover {
    background: #D9D9D9;
    border-radius: 15px;
}

.icon_navbar_03 {
    padding-right: 5px;
    gap: 10px;
    align-items: center;
    display: flex;
}

.cart_icon {
    width: 45px;
    height: 45px;

}

.cart_count {
    font-size: medium;

}

.active_001:hover {

    text-decoration: white wavy underline
}

.active_001 {

    text-decoration: black wavy underline
}

.hover_001:hover {
    /* text-decoration: white wavy underline; */
    font-size: 24px;

}

.hover_002:hover {
    text-decoration: white wavy underline;
    width: 55px;
    height: 55px;

}